/**
 * =================================================================== 
 *  Author: Ubiquify Digtal
 *  Made By: MUHAMMAD Raza
 *
 * =================================================================== 
 */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/**
 * =================================================================== 
 *
 *  colors
 *
 * =================================================================== 
 */
/**
 * =================================================================== 
 *
 *  font: Gotham
 *
 * =================================================================== 
 */
@font-face {
  font-family: gothamlight;
  src: url(../fonts/GothamLight.ttf);
}

@font-face {
  font-family: gothammedium;
  src: url(../fonts/GothamMedium.ttf);
}

@font-face {
  font-family: gothambold;
  src: url(../fonts/GothamBold.ttf);
}

/**
 * =================================================================== 
 *
 *  Reset Css
 *
 * =================================================================== 
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff !important;
}

.image-fluid {
  width: 100%;
  height: auto;
}

.h__100 {
  height: 100vh;
}

.padding__150 {
  padding: 150px 0;
}

.title {
  font-size: 36px;
  font-family: gothambold;
  text-transform: capitalize;
  border-bottom: 10px solid #ed7b23;
  padding: 0 0 10px;
  display: inline-block;
  line-height: 1;
}

.title__light {
  color: #fff;
}

.title__dark {
  color: #13345d;
}

.discription {
  font-size: 14px;
  font-family: gothamlight;
  color: #b8bdd0;
  margin: 60px 0;
}

.lighter {
  color: #fff;
  border: 2px solid #fff !important;
}

.dark {
  color: #13345d;
  border: 2px solid #13345d;
}

.dark:hover {
  color: #13345d !important;
}

.read__more {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: gothammedium;
  font-size: 12px;
}

/**
 * =================================================================== 
 *
 *  NavBar
 *
 * =================================================================== 
 */
header .navbar {
  padding: 20px 60px;
}

header .header__logo {
  max-width: 180px;
}

header .nav-link {
  color: #fff;
  font-family: gothamlight;
  text-transform: capitalize;
  font-size: 16px;
  position: relative;
}

header .nav-link:hover:after {
  position: absolute;
  content: "";
  bottom: 12px;
  left: 0;
  background: #ed7b23;
  width: 100%;
  height: 6px;
  z-index: -10;
}

/**
 * =================================================================== 
 *
 *  banner
 *
 * =================================================================== 
 */
#banner {
  height: 100vh;
}

#banner .carousel-inner {
  height: 100vh;
}

#banner .overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner .slide__discription {
  width: 50%;
  text-align: center;
  color: #fff;
}

#banner .slide__discription h1 {
  font-size: 60px;
  font-family: gothambold;
  text-transform: capitalize;
  margin: 0 0 15px;
}

#banner .slide__discription p {
  font-size: 18px;
  font-family: gothamlight;
}

#banner .slide__discription .slider__button {
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-family: gothamlight;
}

/**
 * =================================================================== 
 *
 *  About us
 *
 * =================================================================== 
 */
#about {
  padding: 0 150px;
}

/**
 * =================================================================== 
 *
 *  services
 *
 * =================================================================== 
 */
#services {
  background: #1a1a1a;
  position: relative;
}

#services .services__description {
  position: absolute;
  left: 25%;
  padding-right: 50px;
}

#services .services__description .discription {
  color: #fff;
  margin: 30px 0;
}

#services .services__description ul {
  margin: 10px 0;
  padding: 0;
}

#services .services__description li {
  color: #fff;
  font-family: gothambold;
}

#services .services__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#services .services__image::after {
  position: absolute;
  left: 10%;
  bottom: -10%;
  content: "";
  background: url(../images/after-img.png);
  width: 150px;
  height: 150px;
  background-size: cover;
  z-index: -1;
}

#services .services__icon {
  position: absolute;
  left: -6%;
}

#services .services__icon li {
  background: #ed7b23;
  width: 80px;
  height: 80px;
  padding: 25px;
  border-radius: 50%;
  margin: 0 0 15px;
}

#projects {
  background: #fff;
  position: relative;
}

#projects::after {
  position: absolute;
  background: url(../images/project-after-img.png);
  right: 0;
  bottom: 0;
  content: "";
  width: 100px;
  height: 100px;
}

#projects .container__2 {
  position: relative;
  text-transform: capitalize;
}

#projects .image {
  display: block;
  width: 100%;
  height: auto;
}

#projects .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgba(237, 123, 35, 0.7);
}

#projects .container__2:hover .overlay {
  opacity: 1;
}

#projects .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 25px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#projects .text h1 {
  font-size: 20px;
  font-family: gothambold;
}

#projects .text p {
  font-size: 18px;
  font-family: gothamlight;
}
/*# sourceMappingURL=main.css.map */