/**
 * =================================================================== 
 *  Author: Ubiquify Digtal
 *  Made By: MUHAMMAD Raza
 *
 * =================================================================== 
 */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/**
 * =================================================================== 
 *
 *  colors
 *
 * =================================================================== 
 */

$colors: (
  primary-color: #ed7b23,
  secondry-color: #13345d,
  dark-color: #1a1a1a,
  white: #fff
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
/**
 * =================================================================== 
 *
 *  font: Gotham
 *
 * =================================================================== 
 */

@font-face {
  font-family: gothamlight;
  src: url(../fonts/GothamLight.ttf);
}
@font-face {
  font-family: gothammedium;
  src: url(../fonts/GothamMedium.ttf);
}

@font-face {
  font-family: gothambold;
  src: url(../fonts/GothamBold.ttf);
}
/**
 * =================================================================== 
 *
 *  Reset Css
 *
 * =================================================================== 
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: color(white);
  &:hover {
    color: #fff !important;
  }
}
.image-fluid {
  width: 100%;
  height: auto;
}
.h__100 {
  height: 100vh;
}
.padding__150 {
  padding: 150px 0;
}
.title {
  font-size: 36px;
  font-family: gothambold;
  text-transform: capitalize;
  border-bottom: 10px solid #ed7b23;
  padding: 0 0 10px;
  display: inline-block;
  line-height: 1;
  &__light {
    color: color(white);
  }
  &__dark {
    color: color(secondry-color);
  }
}
.discription {
  font-size: 14px;
  font-family: gothamlight;
  color: #b8bdd0;
  margin: 60px 0;
}
.lighter {
  color: color(white);
  border: 2px solid color(white) !important;
}
.dark {
  color: color(secondry-color);
  border: 2px solid color(secondry-color);
  &:hover {
    color: color(secondry-color) !important;
  }
}
.read__more {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: gothammedium;
  font-size: 12px;
}

/**
 * =================================================================== 
 *
 *  NavBar
 *
 * =================================================================== 
 */
header {
  .navbar {
    padding: 20px 60px;
  }
  .header__logo {
    max-width: 180px;
  }
  .nav-link {
    color: color(white);
    font-family: gothamlight;
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
    &:hover {
      &:after {
        position: absolute;
        content: "";
        bottom: 12px;
        left: 0;
        background: color(primary-color);
        width: 100%;
        height: 6px;
        z-index: -10;
      }
    }
  }
}
/**
 * =================================================================== 
 *
 *  banner
 *
 * =================================================================== 
 */
#banner {
  height: 100vh;
  .carousel-inner {
    height: 100vh;
  }
  //   .custom__indicatiors {
  //     position: absolute;
  //     top: 50%;
  //     right: 0;
  //     li {
  //       text-indent: 1px;
  //       font-family: gothambold;
  //       font-weight: bold;
  //       color: color(primary-color);
  //       font-size: 22px;
  //     }
  //   }
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide__discription {
    width: 50%;
    text-align: center;
    color: color(white);
    h1 {
      font-size: 60px;
      font-family: gothambold;
      text-transform: capitalize;
      margin: 0 0 15px;
    }
    p {
      font-size: 18px;
      font-family: gothamlight;
    }
    .slider__button {
      padding: 20px 50px;
      border-radius: 50px;
      font-size: 18px;
      font-family: gothamlight;
    }
  }
}

/**
 * =================================================================== 
 *
 *  About us
 *
 * =================================================================== 
 */
#about {
  padding: 0 150px;
}

/**
 * =================================================================== 
 *
 *  services
 *
 * =================================================================== 
 */

#services {
  background: color(dark-color);
  position: relative;
  .services__description {
    position: absolute;
    left: 25%;
    padding-right: 50px;
    .discription {
      color: color(white);
      margin: 30px 0;
    }
    ul {
      margin: 10px 0;
      padding: 0;
    }
    li {
      color: #fff;
      font-family: gothambold;
    }
  }
  .services__image {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    &::after {
      position: absolute;
      left: 10%;
      bottom: -10%;
      content: "";
      background: url(../images/after-img.png);
      width: 150px;
      height: 150px;
      background-size: cover;
      z-index: -1;
    }
  }
  .services__icon {
    position: absolute;
    left: -6%;
    li {
      background: color(primary-color);
      width: 80px;
      height: 80px;
      padding: 25px;
      border-radius: 50%;
      margin: 0 0 15px;
    }
  }
}
#projects {
  background: color(white);
  position: relative;
  &::after {
    position: absolute;
    background: url(../images/project-after-img.png);
    right: 0;
    bottom: 0;
    content: "";
    width: 100px;
    height: 100px;
  }
  .container__2 {
    position: relative;
    text-transform: capitalize;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(237, 123, 35, 0.7);
  }

  .container__2:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 25px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 20px;
      font-family: gothambold;
    }
    p {
      font-size: 18px;
      font-family: gothamlight;
    }
  }
}
